.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.centered_main {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 600px; 
    height: 500px;
    border: groove; 
    border-radius: 7px;
}